@model spreaders.web.Models.TransactionAddEditViewModel
@{
    ViewBag.Title = "Transaction";
}
<a href="/groups/" class="backButton">Back</a>
<div class="addEditTransaction">
    <form>
        <section>
            <fieldset>
                <legend class="labelHeading">Payer</legend>
                <div class="payers">
                    <div class="payerRadios"></div>
                </div>
            </fieldset>
        </section>
        <section>
            <fieldset>
                <legend class="labelHeading">Payees</legend>
                <div class="payees">
                    <div class="payeeCheckboxs"></div>
                </div>
            </fieldset>
        </section>
        <section>
            <label for="amount" class="labelHeading">Amount</label>
            <input type="number" min="0.01" step="0.01" name="amount" id="amount" />
            <div class="error error_amount" style="display:none;">This field is required</div>
        </section>
        <section>
            <label for="description" class="labelHeading">Description</label>
            <textarea name="description" id="description" maxlength="80"></textarea>
        </section>
        <section>
            <button type="submit" class="submit">Add</button>
        </section>
    </form>
</div>
@section scripts {
    @Scripts.Render("~/js/live/pages/transaction")
}
