@model spreaders.web.Models.TransactionsIndexViewModel
@{
    ViewBag.Title = "Groups";
}
<a href="/groups/" class="backButton">Back</a>
<section>
    <div><ul class="personTotals"></ul></div>
</section>
<div class="transactions"></div>
<section>
    <div class="add">
        <button type="button" class="addSectionExpand">+</button>
    </div>
</section>
<div class="opaqueLayer visuallyHidden"></div>
<section>
    <div class="addSection">
        <button type="button" class="addTransactionButton">
            <img src="/img/spreaders-logo.svg" width="100" height="100" />
            add<br />transaction
        </button>
        <button type="button" class="addPersonButton">
            <img src="/img/transaction-icon.svg" width="100" height="100" />
            add<br />person
        </button>
    </div>
</section>
<button type="button" class="showUpdates closed">show updates</button>

@section scripts {
    <script src="/js/live/pages/transactions.js"></script>
    }
