@model spreaders.web.Models.TransactionsIndexViewModel

@{
  Layout = null;
}

<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/css/main.css">
  <title>Transactions</title>
  <link rel="icon" href="/img/folder.jpg" type="image/jpg">
</head>

<body>
  <section>
    <div><ul class="personTotals"></ul></div>
  </section>
  <div class="transactions"></div>
  <section>
    <div class="add">
      <button type="button" class="addSectionExpand">+</button>
    </div>
  </section>
  <div class="opaqueLayer visuallyHidden"></div>
  <section>
    <div class="addSection">
      <button type="button" class="addTransactionButton"><img src="/img/folder.jpg"/> add<br />transaction</button>
      <button type="button" class="addPersonButton"><img src="/img/folder.jpg"/>add<br />person</button>
    </div>
  </section>
  <button type="button" class="showUpdates closed">show updates</button>

  <script src="/js/live/library.js"></script>
  <!-- <script src="/js/scripts/namespaces.js"></script>
  <script src="/js/scripts/view/transaction.js"></script>
  <script src="/js/scripts/model/personTotal.js"></script>
  <script src="/js/scripts/model/group.js"></script>
  <script src="/js/scripts/model/transaction.js"></script>
  <script src="/js/scripts/model/person.js"></script>

  <script src="/js/scripts/pageContext.js"></script>
  <script src="/js/scripts/urlService.js"></script>
  <script src="/js/scripts/apiService.js"></script>
  <script src="/js/scripts/storageIndexedDb.js"></script>
  <script src="/js/scripts/storage.js"></script>
  <script src="/js/scripts/sync/synchroniser.js"></script>
  <script src="/js/scripts/sync/entityUpdater.js"></script>
  <script src="/js/scripts/observer.js"></script> -->
  <script src="/js/live/pages/transactions.js"></script>

</body>

</html>
