@model spreaders.web.Models.TransactionsIndexViewModel
@{
    ViewBag.Title = "Transactions";
}
<div class="sectionHeading">
    <a href="/groups/" class="homeButton"><img width="95" height="95" src="/img/Home.svg" alt="home" /></a>
    <h1>Payments</h1>
</div>
<div class="transactions sectionMain"></div>
<section>
    <div class="add withBottomNav">
        <a href="add" class="addSectionExpand">+</a>
    </div>
</section>
@Html.Partial("~/Views/Shared/Navigation.cshtml", 1)
<button type="button" class="showUpdates closed">show updates</button>

@section scripts {
    @Scripts.Render("~/js/live/pages/transactions")
}
