@model spreaders.web.Models.GroupsIndexViewModel
@{
    ViewBag.Title = "Groups";
}
<section class="groupContainer"></section>
<section class="addGroup">
    <label>
        group name
        <input type="text" name="groupName">
    </label>
    <button type="button" class="createGroupButton">create group</button>
</section>

@section scripts {
    @Scripts.Render("~/js/live/pages/groups")
}
