@model spreaders.web.Models.GroupsIndexViewModel
@{
    ViewBag.Title = "Groups";
}
<section>
    <div class="add">
        <a href="/groups/add" class="addSectionExpand createGroupButton">+</a>
    </div>
</section>
<h1>Groups</h1>
<section class="groupContainer"></section>

@section scripts {
    @Scripts.Render("~/js/live/pages/groups")
}
