@model spreaders.web.Models.GroupsIndexViewModel

@{
  Layout = null;
}

<!DOCTYPE html>
<html>

<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,900" rel="stylesheet">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="manifest" href="/manifest.json">
  <title>Groups</title>
  <link rel="icon" href="/img/spreaders-logo16.png" type="image/png">
</head>

<body>

  <section class="groupContainer"></section>
  <section class="addGroup">
    <label>
      group name
      <input type="text" name="groupName">
    </label>
    <button type="button" class="createGroupButton">create group</button>
  </section>
  <script src="/js/live/library.js"></script>
  <!-- <script src="/js/scripts/namespaces.js"></script>
  <script src="/js/scripts/model/group.js"></script>

  <script src="/js/scripts/urlService.js"></script>
  <script src="/js/scripts/apiService.js"></script>
  <script src="/js/scripts/pageContext.js"></script>
  <script src="/js/scripts/storageIndexedDb.js"></script>
  <script src="/js/scripts/storage.js"></script>
  <script src="/js/scripts/sync/synchroniser.js"></script> -->

  <script src="/js/live/pages/groups.js"></script>
</body>
</html>
