@{
    ViewBag.Title = "Pay up";
}

<div class="sectionHeading">
    <a href="/groups/" class="homeButton"><img width="95" height="95" src="/img/Home.svg" alt="home" /></a>
    <h1>Pay up</h1>
</div>
<div class="debts sectionMain"></div>


@Html.Partial("~/Views/Shared/Navigation.cshtml", 3)

@section scripts {
    @Scripts.Render("~/js/live/pages/payUp")
}

