@model spreaders.web.Models.TransactionAddEditViewModel
@{
  Layout = null;
}
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/css/main.css">
  <title>Person Edit</title>
  <link rel="icon" href="/img/folder.jpg" type="image/jpg">
</head>
<body>
  <div class="editPerson">
    <form>
      <section>
        <h1>Name</h1>
        <input type="text" name="name"></input>
        <input type="text" name="colour"></input>
      </section>
      <section>
        <button type="submit" class="submit">Update</button>
      </section>
    </form>
  </div>
  <script src="/js/live/library.js"></script>

  <!-- <script src="/js/scripts/namespaces.js"></script>
  <script src="/js/scripts/model/person.js"></script>

  <script src="/js/scripts/urlService.js"></script>
  <script src="/js/scripts/apiService.js"></script>
  <script src="/js/scripts/pageContext.js"></script>
  <script src="/js/scripts/storageIndexedDb.js"></script>
  <script src="/js/scripts/storage.js"></script>
  <script src="/js/scripts/sync/synchroniser.js"></script> -->

  <script src="/js/live/pages/person.js"></script>
</body>
</html>
