@model spreaders.web.Models.TransactionAddEditViewModel
@{
    ViewBag.Title = "Edit Person";
}
<a href="/groups/" class="backButton">Back</a>
<div class="editPerson">
    <form>
        <section>
            <div class="formRow">
                <label for="name">Name</label>
                <input type="text" name="name" />
            </div>
            <div class="formRow">
                <input type="text" class="hidden" name="colour" />
                <button class="changeIcon">Change Icon: <span class="firstLetter"></span></button>
                <div class="iconSelection">
                    <ul class="iconSelectionList"></ul>
                </div>
            </div>
        </section>
        <section>
            <button type="submit" class="submit">Update</button>
        </section>
    </form>
</div>

@section scripts {
    @Scripts.Render("~/js/live/pages/person")
}
