@{
    ViewBag.Title = "People";
}

<div class="sectionHeading">
    <a href="/groups/" class="homeButton"><img width="95" height="95" src="/img/Home.svg" alt="home" /></a>
    <h1>People</h1>
</div>
<section class="sectionMain">
    <div class="addPerson"></div>
    <div class="peopleContainer"></div>
</section>
@Html.Partial("~/Views/Shared/Navigation.cshtml", 2)

@section scripts {
    @Scripts.Render("~/js/live/pages/people")
}