@{
    ViewBag.Title = "Groups";
}
<a href="/groups/" class="backButton">Back</a>
<h1>People</h1>
<section>
    <div class="addPerson"></div>
    <div class="peopleContainer"></div>
</section>


@section scripts {
    @Scripts.Render("~/js/live/pages/people")
}