/* #0099CC #CCFFCC #66CCFF #003399 */
/* style like this https://repl.it */
:root {
  --one-color: #CCFFCC;
  --two-color: #66CCFF;
  --three-color: #0099CC;
  --four-color: #003399;
}

* {
	font-family: arial;
	color: var(--four-color);
}

h1 {
	font-size: 6em;
	text-align: center;
}

h2 {
	font-size: 4em;
	text-align: center;
}

button {
	height: 120px;
	font-size: 3em;
	font-weight: bold;
	border: none;
	padding: 30px 50px;
	background-color: var(--one-color);
	cursor: pointer;
}

.add {
	position: fixed;
	bottom: 50px;
	right: 50px;
	width: 200px;
	height: 200px;
}

button.addSectionExpand {
	font-size: 6em;
	font-weight: lighter;
	color: white;
	background-color: var(--three-color);
	padding: 0;
	height: 200px;
	width:200px;
	border-radius: 100px;
}

.sync {
	float: left;
	width: 50%;
}

.addTransaction {
	float: right;
	width: 50%;
	text-align: right;
}

.transactions {
	margin-bottom: 300px;
}

.transaction {
	width: 98%;
	max-width: 1000px;
	height: 200px;
	margin: 0 auto;
	padding: 30px 0px 20px 0px;
	border-bottom: 1px solid grey;
	overflow: hidden;
	transition: height 0.2s;
	position: relative;
}

.transaction.active {
	height: 350px;
	transition: height 0.2s;
}

.transaction li {
	font-size: 3em;
}

.transaction:hover {	
	/* box-shadow: 0px 0px 3px #CCC; */
	/* box-shadow: inset 0 0 0 3px var(--two-color); */
	cursor: pointer;
}

.transaction ul.transactionDetails {
	padding: 0;
	overflow: auto;
}

.transaction ul.transactionDetails li {
	list-style: none;
	float: left;
}
.transaction ul.transactionDetails li.payer {
	width:25%;
	font-weight: bold;
}
.transaction ul.transactionDetails li.description {
	width:50%;
	font-size: 2em;
	font-weight: lighter;
	line-height: 2em;
}
.transaction ul.transactionDetails li.amount {
	width:25%;
	font-weight: bold;
	text-align: right;
}

.transaction ul.transactionDetails li.payees {
	margin-top: 10px;
	float: left;
	width:75%;
	font-size: 2em;
	font-weight: lighter;
	line-height: 2em;
	opacity: 1;
}

.transaction span.firstLetter {
	height: 50px;
	max-width: 34px;
	margin-right: 5px;
	display: inline-block;
	border-radius: 25px;
	text-align: center;
	line-height: 1.6em;
	color: white; 
	font-weight: bold;
    padding-left: 16px;
	transition: all 0.3s;
}
.transaction.active span.firstLetter {
	max-width: 200px;
	transition: all 0.5s;
	padding-right: 14px;
}

.transaction span.firstLetter:last-child {
	margin-right: 0px;
}

.transaction .remainingLetters {
	opacity: 0;
	width: 0px;
	transition: opacity 0.5s;
	color: white;
}

.transaction.active .remainingLetters {
	opacity: 1;
	width: auto;
	transition: opacity 0.5s;
}

.transaction button {
	opacity: 0;
	transition: opacity 0.1s;
	position: absolute;
	top: 220px;
	right: 0px;
}

.transaction button.delete {
	left:0px;
}


.transaction.active button {
	opacity: 1;
	transition: opacity 0.5s;
}

.payees input[type="checkbox"], .payers input[type="radio"] {
  display: none;
}
.payees input[type="checkbox"]:checked + .box, .payers input[type="radio"]:checked + .box {
  background-color: var(--one-color);
	border-style: solid;
	border-width: 1px;
	border-color: var(--two-color);
	border-radius: 5px;
}
.payees .box, .payers .box {
  width: 150px;
  height: 50px;
	padding: 40px 0;
  background-color: #fff;
	border-style: solid;
	border-width: 1px;
	border-color: #fff;
  transition: all 250ms ease;
  will-change: transition;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  position: relative;
}
.payees .box span, .payers .box span {
  transition: all 300ms ease;
  user-select: none;
  font-size: 1.5em;
}

input[type="text"], input[type="number"], textarea  {
	height: 50px;
	border-radius: 5px;
	border: 1px solid var(--two-color);
	max-width: 400px;
	width: 75%;
	font-size: 1.5em;
}

.opaqueLayer {
	width: 100%;
	height: 100%;
	opacity: 0.5;
	position: fixed;
	top: 0px;
	left: 0px;
	background-color: black;
}

.visuallyHidden {
	display:none;
}

.addSection {
	width: 100%;
	border-top: 1px solid black;
	position: fixed;
	bottom: -1px;
	left: 0px;
	height: 0px;
	background-color: white;
	text-align: center;
	transition: all 250ms ease;
}

.addSection.active {
	height: 400px;
	transition: all 250ms ease;
}

.addSection button {
	background-color: white;
	width:300px;
	height: auto;
	padding:0;
	margin-top: 100px;
}

.addSection button:first-of-type {
	margin-right: 100px;
}

.addSection button img {
	display: block;
	margin: 0 100px;
}

.person li {
	font-size: 6em;
	list-style: none;
}

.showUpdates {
	width: 50%;
	position: fixed;
	left: 50%;
	top: 20px;
	margin-left: -25%;
	overflow-y: hidden;
	max-height: 200px;
	
	transition-property: all;
	transition-duration: .5s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.showUpdates.closed {
	max-height: 0px;
	padding: 0px;
}