/* #0099CC #CCFFCC #66CCFF #003399 */
/* style like this https://repl.it */
:root {
  --one-color: #CCFFCC;
  --two-color: #66CCFF;
  --three-color: #0099CC;
  --four-color: #003399;
}

* {
	font-family: 'Roboto', sans-serif;
	color: black;
	margin: 0;
    -webkit-tap-highlight-color: transparent;
}

body {
	/* margin: 10px; */
}

h1 {
	font-size: 6em;
	text-align: center;
}

h2 {
	font-size: 4em;
	text-align: center;
}

label, legend {
	font-size: 3em;
}

fieldset {
	border: 0;
}

.hidden {
	display: none;
}

.backButton, button {
	height: 120px;
	font-size: 3em;
	color: black;
	border: none;
	padding: 30px 50px;
	background-color: var(--one-color);
	cursor: pointer;
	text-decoration: none;
}

.backButton {
	background: none;
	font-size: 0.1em;
	color: white;
	position: relative;
	width: 50px;
	height: 50px;
	border: solid grey;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 5px;
    transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
	margin: 30px 0 -60px 30px;
}

.homeButton {
	position: absolute;
	top: 0;
	left: 0;
}

.mobileNav {
	background-color: white;
	border-top: solid 1px black;
    overflow: hidden;
    position: fixed;
    bottom: 0;
	width: 100%;
	height: 160px;
	padding-top: 20px;
}

.mobileNav div {
	box-sizing: content-box;
	width:33%;
	float: left;
	height: 100px;
	text-align: center;
}

.mobileNav div a{
	text-decoration: none;
	font-size: 2em;
}

.mobileNav a:not(.active) img {
	filter: gray; /* IE6-9 */
	-webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
	filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
}

.sectionMain {
	margin-bottom:400px;
}


.groupContainer li {
	font-size: 5em;
	list-style: none;
	margin-bottom: 30px;
}

.groupContainer a {
	text-decoration: none;
}

.add {
	position: fixed;
	bottom: 50px;
	right: 50px;
	width: 150px;
	height: 150px;
}

.add.withBottomNav {
	bottom: 200px;
	right: 30px;
}

a.addSectionExpand {
	display: block;
    text-decoration: none;
    text-align: center;
    line-height: 1.5em;
}

.addSectionExpand {
	font-size: 6em;
	font-weight: lighter;
	color: white;
	background-color: var(--three-color);
	padding: 0;
	height: 150px;
	width:150px;
	border-radius: 75px;
}

.sync {
	float: left;
	width: 50%;
}

.addTransaction {
	float: right;
	width: 50%;
	text-align: right;
}

.personTotals {
	margin-top: 100px;
}

.personTotals li {
	list-style: none;
	font-size: 4em;
	text-align: right;
	overflow: hidden;
}

.personTotals li div.personName {
	float:left;
	width: 40%;
	margin-right: 10%
}

.personTotals li div.amount {
	float:right;
	width: 50%;
	color: green;
}

.personTotals li span.amount {
	width :250px;
	color: green;
	display: block;
}

.personTotals li span.amount.negative {
	color: red;
}

.personTotals li span.amount span {
	font-size: 0.5em;
	color: inherit;
}

.transactions {
    margin-top: 60px;
}

.transaction {
	width: 98%;
	max-width: 1000px;
	height: 200px;
	margin: 0 auto;
	padding: 30px 0px 20px 0px;
	border-bottom: 1px solid grey;
	overflow: hidden;
	transition: height 0.2s;
	position: relative;
}

.transaction.active {
	height: 350px;
	transition: height 0.2s;
}

.transaction li {
	font-size: 3em;
}

.transaction:hover {	
	cursor: pointer;
}

.transaction ul.transactionDetails {
	padding: 0;
	overflow: auto;
}

.transaction ul.transactionDetails li {
	list-style: none;
	float: left;
}
.transaction ul.transactionDetails li.payer {
	width:25%;
}
.transaction ul.transactionDetails li.description {
	width:50%;
	font-size: 2em;
	font-weight: 300;
    margin-top: 16px;
	line-height: 1.2em;
}
.transaction ul.transactionDetails li.amount {
	width:25%;
	text-align: right;
}
span.afterDecimal {
	font-size: 0.5em;
}

.transaction ul.transactionDetails li.payees {
	margin-top: 10px;
	float: left;
	width:75%;
	font-size: 2em;
	line-height: 2em;
	opacity: 1;
}

.transaction span.firstLetter {
	height: 50px;
	max-width: 34px;
	margin-right: 5px;
	display: inline-block;
	border-radius: 25px;
	text-align: center;
	line-height: 1.6em;
	color: white; 
    padding-left: 16px;
	transition: all 0.3s;
    font-size: 1em;
	float: none;
	margin-top: 0px;
	width: auto;
}
.transaction.active span.firstLetter {
	max-width: 300px;
	transition: all 0.5s;
	padding-right: 14px;
}

.transaction span.firstLetter:last-child {
	margin-right: 0px;
}

.transaction .remainingLetters {
	opacity: 0;
	width: 0px;
	transition: opacity 0.5s;
	color: white;
}

.transaction.active .remainingLetters {
	opacity: 1;
	width: auto;
	transition: opacity 0.5s;
}

.transaction button {
	opacity: 0;
	transition: opacity 0.1s;
	position: absolute;
	top: 220px;
	right: 0px;
}

.transaction button.delete {
	left:0px;
}


.transaction.active button {
	opacity: 1;
	transition: opacity 0.5s;
}

.addEditTransaction {
	margin-top: 100px;
}

.addEditTransaction section {
	margin-bottom: 80px;
}

.labelHeading {
	display: block;
    font-size: 5em;
    margin-bottom: 30px;
}

.payerRadios, .payeeCheckboxes {
    display: flex;
    flex-wrap: wrap;
}

.personSelector {
	width: 155px;
	display: inline-block;
	margin-bottom: 25px;
}

.personSelector:not(:last-child) {
	margin-right:20px;
}

.personSelector .firstLetter {
	font-size: 2.5em;
	width: 150px;
	height: 150px;
	border: 5px solid white;
	border-radius: 50%;
	display: inline-block;
	text-align: center;
}

.personSelector .name {
	font-size: 0.75em;
	width: 155px;
	display: inline-block;
	text-align: center;
}

.payees input[type="checkbox"]:checked + .firstLetter, .payers input[type="radio"]:checked + .firstLetter {
	border: 5px solid black;
}

input[type="text"], input[type="number"], textarea {
	height: 115px;
	width: 100%;
	border: 1px solid var(--two-color);
    box-sizing: border-box;
	font-size: 3rem;
	padding: 25px 10px;
	text-align: center;
}

textarea {
	font-size: 2.5rem;
}

input[type="text"]:focus, input[type="number"]:focus, textarea:focus {
    outline: none !important;
	border: 1px solid var(--two-color);
}

.opaqueLayer {
	width: 100%;
	height: 100%;
	opacity: 0.5;
	position: fixed;
	top: 0px;
	left: 0px;
	background-color: black;
}

.visuallyHidden {
	display:none;
}

.addSection {
	width: 100%;
	border-top: 1px solid black;
	position: fixed;
	bottom: -1px;
	left: 0px;
	height: 0px;
	background-color: white;
	text-align: center;
	transition: all 250ms ease;
}

.addSection.active {
	height: 400px;
	transition: all 250ms ease;
}

.addSection button {
	background-color: white;
	width:300px;
	height: auto;
	padding:0;
	margin-top: 100px;
}

.addSection button:first-of-type {
	margin-right: 100px;
}

.addSection button img {
	display: block;
	margin: 0 100px;
}

.peopleContainer {
	margin-top: 75px;
}

.person {
	margin: 20px 50px;
	height: 125px;
	overflow: hidden;
	transition: height 0.3s;
}

.person.active {
	height: 300px;
	transition: height 0.3s;
}

.person ul {
	margin: 0;
	padding: 0;
	overflow: hidden;
	list-style: none;
}

.person li {
	list-style: none;
}

.person li.name {
	font-size: 6em;
	float: left;
}

.personDetails .firstLetter {
	font-size: 4.5em;
	float: right;
	line-height: 1.4em;
	margin-top: 13px;
}

.firstLetter {
	color: white;
	border-radius: 50%;
	width: 100px; 
	height:100px;
	text-align: center;
}

.personButtons {
	margin-top: 50px;
	overflow: hidden;
	opacity: 0;
	transition: opacity 0.5s;
}

.person.active .personButtons {
	opacity: 1;
	transition: opacity 0.5s;
}

.personButtons .delete {
	float: left;
}

.personButtons .edit {
	float: right;
}

.editPerson {
	margin-top: 100px;
}

.editPerson .formRow {
	margin-bottom: 100px;
}

.editPerson label {
	display: block;
}

.editPerson input {
	width: 100%;
}

.changeIcon {
	background-color: white;
	width: 600px;
	margin: 0px auto;
	border: 1px solid var(--two-color);
	display:block;
	position: relative;
	height: 150px;
}

.changeIcon .firstLetter{
	position: absolute;
	top: 25px;
	right: 25px;
	font-size: 4.5rem;
	margin-top: 0px;
    line-height: 1.4em;
}

.iconSelection {
	max-height: 0px;
	overflow: hidden;
	margin-top: 70px;
	box-shadow:
	0px 50px 40px -50px #CCC,
	0px -50px 40px -50px #CCC; 
	
	transition-property: all;
	transition-duration: .5s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.iconSelection.active {
	max-height: 500px;
	
	transition-property: all;
	transition-duration: .5s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.iconSelectionList {
	padding: 30px;
	overflow: hidden;
	text-align: center;
}

.iconSelectionList .firstLetter {
	margin: 15px;
	float: none;
	width: 150px;
	height: 150px;
	border-radius: 75px;
	display:inline-block;
	list-style: none;
	font-size: 6.5em;
	line-height: 1.4em;
}

.iconSelectionList .firstLetter.active {
	width: 140px;
	height: 140px;
	border: 5px solid black;
}

.addPerson {
	margin-top: 100px;
}

.addPersonNameWrapper {
	width: 74%;
	overflow: hidden;
	float:left;
}

input.addPersonName{
	width: 95%;
	max-width: none;
	float:right;
}

li.creditor {
	font-size: 3em;
	list-style: none;
	margin-top: 40px;
}

li.creditor ul{
	margin-top: 20px;
}

li.debtor {
	list-style: none;
	font-size: 25px;
}

li.debtor .debtorName {
	padding: 2px 10px;
	border-radius: 20px;
	margin-right: 20px;
	color: white;
}

button.addPersonButton{
	width: 25%;
	padding-left: 0;
	padding-right: 0;
}

.showUpdates {
	width: 50%;
	position: fixed;
	left: 50%;
	top: 20px;
	margin-left: -25%;
	overflow-y: hidden;
	max-height: 200px;
	
	transition-property: all;
	transition-duration: .5s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.showUpdates.closed {
	max-height: 0px;
	padding: 0px;
}